<!-- Error page that displays when someone attempts to assign an SR without selecting a user -->
<body>

<!-- navigation bar -->
<%= render 'links' %>

  <div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child notification is-danger box center">
				<%= flash.now[:notice] = "You need to select a username from the dropdown when assigning." %>
				<br \>
			</div>
		</div>
	</div>
</body>
