<!-- this is the New On Call page -->

<!-- navigation bar -->
<%= render 'service_request/links' %>

<iframe src="<%= $conf_json["NewOnCallURL"] %>" width="100%" height="1000">
  <p>Uh oh! Internal URL isn't rendering in the iframe!</p>
</iframe>

