<!-- this is the On Call page -->
<%= link_to 'Back', 'http://rosa.lab.novell.com' %>
<!-- iframe src="https://docs.google.com/spreadsheets/d/1RNFQWZkEhRuYWVYNBtyU_LOdtHxLkuX4g8Ylg1IaCp4/pubhtml" width="100%" height="1000" -->
<iframe src="<%= $conf_json["oncall_doc"] %>" width="100%" height="1000">
  <p>Uh oh! trevman isn't rendering in the iframe!</p>
</iframe>

