<!-- this is the Siebelmatic page -->

<!-- navigation bar -->
<%= render 'service_request/links' %>

<iframe src="<%= $conf_json["siebelmatic_db"] %>" width="100%" height="1000">
  <p>Uh oh! Siebelmatic isn't rendering in the iframe!</p>
</iframe>

