<!-- this is the SLA page -->

<!-- navigation bar -->
<%= render 'service_request/links' %>

<iframe src="<%= $conf_json["sla_doc"] %>" width="100%" height="1000">
  <p>Uh oh! Google isn't rendering in the iframe!</p>
</iframe>

