<!-- this is the Wallboard page -->

<!-- navigation bar -->
<%= render 'service_request/links' %>

<iframe src="<%= $conf_json["wallboard"] %>" width="100%" height="1000">
  <p>Uh oh! Wallboard isn't rendering in the iframe!</p>
</iframe>

