<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We've received your submitted service request. However it has been received by a team outside your service license agreement.
      Your SR will be placed back into the unassigned queue for the next available engineer within your SLA.
    </p>
    <p>
      If you feel that this is a mistake, please contact a customer support representative for assistance.</br>
      Number: 800-858-4000
    </p>
    <p>
      --</br>
      Technical Support Team &lt;support@novell.com&gt;</br>
      SUSE
    </p>
  </body>
</html>

