// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Main site characteristics
html, body {
  background-image: image-url('shattered.png');
  line-height: 1.25;
  color: whitesmoke;
  background-repeat: repeat-y repeat-x;
	height: 100%;
}

// General table behaviours
table, td, th {
  border: 1px solid black;
  margin: 8px auto;
  padding: 0px;
  text-align: center;
  color: whitesmoke;
}

// other table behaviours
.tabletable, .tdtable, .thtable {
	border: 0;
	margin: auto;
	padding: 2px;
}

// centered
.centered {
	text-align: center;
}

// strong text color whitesmoke
strong {
color: whitesmoke;
}

// class to center text
.center, h1 {
text-align: center;
}

// table sort arrows
th.sort-by, .collapsible { 
	padding-right: 18px;
	position: relative;
	cursor: pointer;
	text-align: center;
	user-select: none;
}
th.sort-by:before,
th.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
th.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
th.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}

// links
a:hover, a:focus {
	color: #63efdf;
}

// supersup

.supersup {
	font-size: xx-small;
	vertical-align: super;
	text-decoration: none;
}
